@charset "UTF-8";

* {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        ::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        img {
            width: 100vw;
        }

        a {
            display: block;
            background-color: aliceblue;
            color: black;
            padding: 16px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            transition-timing-function: ease-in-out;
            transition-duration: 0.5s;
        }

        a:hover {
            background-color: rgb(188, 206, 221);
        }