@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}

body {
    background: url(../img/fundo.png) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#phone {
    height: 627px;
    width: 311px;
    background: url(../img/frame-iphone.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 470px;
}

section#socials {
    text-align: right;
}

section#socials img {
    width: 64px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.336);
    box-sizing: border-box;
    
}

section#socials img:hover {
    border: 2px solid rgb(222, 231, 255);
    transform: translate(-10px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.336);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}